* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 70px 200px;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    /* align-items: center; */
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
    font-size: 20px;
}

.color {
    color: tomato;
}

.btn {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    height: 64px;
    border-radius: 5px;
    background: rgb(231, 39, 5);
}

.btn2 {
    color: rgb(231, 39, 5);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
    height: 60px;
    border-radius: 5px;
    background: white;
    border: 2px solid tomato;
    margin-left: 20px;

}

.header {
    background: #fff8f3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}

/* banner....... */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
    /* justify-content: space-between; */
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: rgb(94, 94, 94);
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 500;
    font-size: 20px;
    color: rgb(109, 108, 108);
    margin-bottom: 30px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    text-align: center;
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    font-size: 35px;
    margin-bottom: 50px;
}

.section-description {
    color: rgb(100, 100, 99);
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #504c4c;
    padding: 2px;
}

/* What i do */
.what-i-do {
    margin-top: 130px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.i-do-p {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(100, 100, 99);
    font-size: 18px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #ffffff;
    box-shadow: 0px 6px 50px orange;
    border-radius: 7px;
    padding: 30px;
    margin-bottom: 130px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.skill-description {
    color: rgb(100, 100, 99);
    font-size: 15px;
}

/* my resume */
.section-title {
    text-align: center;
}

.resume-content {
    display: flex;
    gap: 30px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #757575;
    margin-bottom: 10px;
}

.resume .sub-title {
    color: #474747;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .descripton {
    color: #757575;
}

.resume-button {
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: ; */
}

/* contact Design */
.contact {
    display: flex;
    gap: 100px;
    margin-top: 130px;
    background: #fff8f3;
    padding: 130px 200px;
    border-radius: 10px;
    border-radius: 10px;

}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    border-radius: 5px;
}

input {
    height: 64px;
}

/* .contact a {
    text-decoration: none;
} */